interactions:
- request:
    body: '{"EffectiveDate": "2021-05-10", "InvoiceDate": "2021-05-10", "TitleTransferCode":
      "DEST", "TransactionType": "DIRECT", "TransactionLines": [{"InvoiceLine": 6,
      "ProductCode": "123", "UnitPrice": "15.00", "UnitOfMeasure": null, "BilledUnits":
      "3", "LineAmount": "15.00", "AlternateUnitPrice": "1.000", "TaxIncluded": true,
      "UnitQuantity": null, "UnitQuantityUnitOfMeasure": null, "DestinationCountryCode":
      "USA", "DestinationJurisdiction": "TX", "DestinationAddress1": "1100 Congress
      Ave", "DestinationAddress2": "", "DestinationCounty": "", "DestinationCity":
      "Austin", "DestinationPostalCode": "78701", "SaleCountryCode": "USA", "SaleAddress1":
      "1100 Congress Ave", "SaleAddress2": "", "SaleJurisdiction": "TX", "SaleCounty":
      "", "SaleCity": "Austin", "SalePostalCode": "78701", "OriginCountryCode": "USA",
      "OriginJurisdiction": "TX", "OriginCounty": "", "OriginCity": "Austin", "OriginPostalCode":
      "78701", "OriginAddress1": "1100 Congress Ave", "OriginAddress2": "", "CustomString1":
      null, "CustomString2": null, "CustomString3": null, "CustomNumeric1": null,
      "CustomNumeric2": null, "CustomNumeric3": null}], "InvoiceNumber": null}'
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
      x-company-id:
      - '1337'
    method: POST
    uri: https://excisesbx.avalara.com/api/v1/AvaTaxExcise/transactions/create
  response:
    body:
      string: "{\r\n  \"UserTranId\": \"3da89ec2-3bf4-4754-bbe5-e6c4fcb3287a\",\r\n
        \ \"TranId\": 40512521,\r\n  \"Status\": \"Success\",\r\n  \"ReturnCode\":
        0,\r\n  \"TotalTaxAmount\": 0.0,\r\n  \"TransactionTaxes\": [],\r\n  \"TransactionErrors\":
        [],\r\n  \"UserReturnValue\": \"\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
