interactions:
- request:
    body: '{"EffectiveDate": "2021-05-18", "InvoiceDate": "2021-05-18", "TitleTransferCode":
      "DEST", "TransactionType": "DIRECT", "TransactionLines": [{"InvoiceLine": 1,
      "ProductCode": "123", "UnitPrice": "15.00", "UnitOfMeasure": null, "BilledUnits":
      "3", "LineAmount": "15.00", "AlternateUnitPrice": "1.000", "TaxIncluded": true,
      "UnitQuantity": null, "UnitQuantityUnitOfMeasure": null, "DestinationCountryCode":
      "USA", "DestinationJurisdiction": "TX", "DestinationAddress1": "1100 Congress
      Ave", "DestinationAddress2": "", "DestinationCounty": "", "DestinationCity":
      "Austin", "DestinationPostalCode": "78701", "SaleCountryCode": "USA", "SaleAddress1":
      "1100 Congress Ave", "SaleAddress2": "", "SaleJurisdiction": "TX", "SaleCounty":
      "", "SaleCity": "Austin", "SalePostalCode": "78701", "OriginCountryCode": "USA",
      "OriginJurisdiction": "TX", "OriginCounty": "", "OriginCity": "Austin", "OriginPostalCode":
      "78701", "OriginAddress1": "1100 Congress Ave", "OriginAddress2": "", "UserData":
      "123", "CustomString1": null, "CustomString2": null, "CustomString3": null,
      "CustomNumeric1": null, "CustomNumeric2": null, "CustomNumeric3": null}, {"InvoiceLine":
      null, "ProductCode": "TAXFREIGHT", "UnitPrice": null, "UnitOfMeasure": "EA",
      "BilledUnits": null, "LineAmount": "10.000", "AlternateUnitPrice": null, "TaxIncluded":
      false, "UnitQuantity": null, "UnitQuantityUnitOfMeasure": null, "DestinationCountryCode":
      "USA", "DestinationJurisdiction": "TX", "DestinationAddress1": "1100 Congress
      Ave", "DestinationAddress2": "", "DestinationCounty": "", "DestinationCity":
      "Austin", "DestinationPostalCode": "78701", "SaleCountryCode": "USA", "SaleAddress1":
      "1100 Congress Ave", "SaleAddress2": "", "SaleJurisdiction": "TX", "SaleCounty":
      "", "SaleCity": "Austin", "SalePostalCode": "78701", "OriginCountryCode": null,
      "OriginJurisdiction": null, "OriginCounty": null, "OriginCity": null, "OriginPostalCode":
      null, "OriginAddress1": null, "OriginAddress2": null, "UserData": "Shipping",
      "CustomString1": null, "CustomString2": null, "CustomString3": null, "CustomNumeric1":
      null, "CustomNumeric2": null, "CustomNumeric3": null}], "InvoiceNumber": null}'
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
      x-company-id:
      - '1337'
    method: POST
    uri: https://excisesbx.avalara.com/api/v1/AvaTaxExcise/transactions/create
  response:
    body:
      string: "{\r\n  \"UserTranId\": \"fc37e563-7114-4564-96c0-87c9b2f65992\",\r\n
        \ \"TranId\": 40722210,\r\n  \"Status\": \"Success\",\r\n  \"ReturnCode\":
        0,\r\n  \"TotalTaxAmount\": 0.0,\r\n  \"TransactionTaxes\": [],\r\n  \"TransactionErrors\":
        [\r\n    {\r\n      \"SequenceId\": 1,\r\n      \"ErrorCode\": \"-895\",\r\n
        \     \"ErrorMessage\": \"Populating Origin information using Destination
        information for transaction line 2.\",\r\n      \"ErrorLevelInd\": \"Warning\",\r\n
        \     \"TransactionLine\": 2\r\n    }\r\n  ],\r\n  \"UserReturnValue\": \"\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
