interactions:
  - request:
      body:
        '{"EffectiveDate": "02/22/21", "InvoiceDate": "02/22/21", "TitleTransferCode":
        "DEST", "TransactionType": "DIRECT", "TransactionLines": [{"InvoiceLine": 1,
        "ProductCode": "123", "UnitPrice": "10.000", "UnitOfMeasure": null, "BilledUnits":
        "3", "LineAmount": "30.00", "AlternateUnitPrice": "1.000", "TaxIncluded": true,
        "UnitQuantity": null, "UnitQuantityUnitOfMeasure": null, "DestinationCountryCode":
        "USA", "DestinationJurisdiction": "TX", "DestinationAddress1": "1100 Congress
        Ave", "DestinationAddress2": "", "DestinationCounty": "", "DestinationCity":
        "Austin", "DestinationPostalCode": "78701", "SaleCountryCode": "USA", "SaleAddress1":
        "1100 Congress Ave", "SaleAddress2": "", "SaleJurisdiction": "TX", "SaleCounty":
        "", "SaleCity": "Austin", "SalePostalCode": "78701", "OriginCountryCode": "USA",
        "OriginJurisdiction": "TX", "OriginCounty": "", "OriginCity": "Austin", "OriginPostalCode":
        "78701", "OriginAddress1": "1100 Congress Ave", "OriginAddress2": "", "CustomString1":
        null, "CustomString2": null, "CustomString3": null, "CustomNumeric1": null,
        "CustomNumeric2": null, "CustomNumeric3": null}], "InvoiceNumber": null}'
      headers:
        Authorization:
          - Basic Og==
        Content-Type:
          - application/json
        x-company-id:
          - "1337"
      method: POST
      uri: https://excisesbx.avalara.com/api/v1/AvaTaxExcise/transactions/create
    response:
      body:
        string:
          "{\r\n  \"UserTranId\": \"b51680c2-6643-4ee4-88bf-143d73f3e24b\",\r\n\
          \  \"TranId\": 38973009,\r\n  \"Status\": \"Success\",\r\n  \"ReturnCode\"\
          : 0,\r\n  \"TotalTaxAmount\": 2.29,\r\n  \"TransactionTaxes\": [\r\n    {\r\
          \n      \"TransactionTaxAmounts\": [],\r\n      \"SequenceId\": 1,\r\n   \
          \   \"TransactionLine\": 1,\r\n      \"InvoiceLine\": 1,\r\n      \"CountryCode\"\
          : \"USA\",\r\n      \"Jurisdiction\": \"TX\",\r\n      \"LocalJurisdiction\"\
          : \"48\",\r\n      \"ProductCategory\": 0.0,\r\n      \"TaxingLevel\": \"\
          STA\",\r\n      \"TaxType\": \"S\",\r\n      \"RateType\": \"G\",\r\n    \
          \  \"RateSubtype\": \"NONE\",\r\n      \"CalculationTypeInd\": \"P\",\r\n\
          \      \"TaxRate\": 0.062500,\r\n      \"TaxQuantity\": 0.0,\r\n      \"TaxAmount\"\
          : 1.73,\r\n      \"TaxExemptionInd\": \"N\",\r\n      \"SalesTaxBaseAmount\"\
          : 27.7100,\r\n      \"LicenseNumber\": \"\",\r\n      \"RateDescription\"\
          : \"TX STATE TAX - TEXAS\",\r\n      \"Currency\": \"USD\",\r\n      \"SubtotalInd\"\
          : \"C\",\r\n      \"StatusCode\": \"ACTIVE\",\r\n      \"QuantityInd\": \"\
          B\"\r\n    },\r\n    {\r\n      \"TransactionTaxAmounts\": [],\r\n      \"\
          SequenceId\": 2,\r\n      \"TransactionLine\": 1,\r\n      \"InvoiceLine\"\
          : 1,\r\n      \"CountryCode\": \"USA\",\r\n      \"Jurisdiction\": \"TX\"\
          ,\r\n      \"LocalJurisdiction\": \"05000\",\r\n      \"ProductCategory\"\
          : 0.0,\r\n      \"TaxingLevel\": \"CIT\",\r\n      \"TaxType\": \"S\",\r\n\
          \      \"RateType\": \"G\",\r\n      \"RateSubtype\": \"NONE\",\r\n      \"\
          CalculationTypeInd\": \"P\",\r\n      \"TaxRate\": 0.010000,\r\n      \"TaxQuantity\"\
          : 0.0,\r\n      \"TaxAmount\": 0.28,\r\n      \"TaxExemptionInd\": \"N\",\r\
          \n      \"SalesTaxBaseAmount\": 27.7100,\r\n      \"LicenseNumber\": \"\"\
          ,\r\n      \"RateDescription\": \"TX CITY TAX - AUSTIN\",\r\n      \"Currency\"\
          : \"USD\",\r\n      \"SubtotalInd\": \"C\",\r\n      \"StatusCode\": \"ACTIVE\"\
          ,\r\n      \"QuantityInd\": \"B\"\r\n    },\r\n    {\r\n      \"TransactionTaxAmounts\"\
          : [],\r\n      \"SequenceId\": 3,\r\n      \"TransactionLine\": 1,\r\n   \
          \   \"InvoiceLine\": 1,\r\n      \"CountryCode\": \"USA\",\r\n      \"Jurisdiction\"\
          : \"TX\",\r\n      \"LocalJurisdiction\": \"6000814\",\r\n      \"ProductCategory\"\
          : 0.0,\r\n      \"TaxingLevel\": \"STJ\",\r\n      \"TaxType\": \"S\",\r\n\
          \      \"RateType\": \"G\",\r\n      \"RateSubtype\": \"NONE\",\r\n      \"\
          CalculationTypeInd\": \"P\",\r\n      \"TaxRate\": 0.010000,\r\n      \"TaxQuantity\"\
          : 0.0,\r\n      \"TaxAmount\": 0.28,\r\n      \"TaxExemptionInd\": \"N\",\r\
          \n      \"SalesTaxBaseAmount\": 27.7100,\r\n      \"LicenseNumber\": \"\"\
          ,\r\n      \"RateDescription\": \"TX SPECIAL TAX - AUSTIN MTA TRANSIT\",\r\
          \n      \"Currency\": \"USD\",\r\n      \"SubtotalInd\": \"C\",\r\n      \"\
          StatusCode\": \"ACTIVE\",\r\n      \"QuantityInd\": \"B\"\r\n    }\r\n  ],\r\
          \n  \"TransactionErrors\": [],\r\n  \"UserReturnValue\": \"\"\r\n}"
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
  - request:
      body:
        '{"createTransactionModel": {"companyCode": "test", "type": "SalesOrder",
        "lines": [{"quantity": 3, "amount": "30.00", "taxCode": "O9999999", "taxIncluded":
        true, "itemCode": "123", "description": "Test product"}, {"quantity": 1, "amount":
        "10.000", "taxCode": "FR020100", "taxIncluded": true, "itemCode": "Shipping",
        "description": null}], "code": "b605fc9d-8838-44b1-b6e1-d30c03b9dfb3", "date":
        "2021-03-10", "customerCode": 0, "addresses": {"shipFrom": {"line1": "2000 Main
        Street", "line2": "", "city": "Irvine", "region": "CA", "country": "US", "postalCode":
        "92614"}, "shipTo": {"line1": "1100 Congress Ave", "line2": "", "city": "Austin",
        "region": "TX", "country": "US", "postalCode": "78701"}}, "commit": false, "currencyCode":
        "USD", "email": ""}}'
      headers:
        Authorization:
          - Basic Og==
      method: POST
      uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    response:
      body:
        string:
          '{"error": {"code": "AuthenticationException","message": "Authentication
          failed.","details": [{"code": "AuthenticationException","message": "Authentication
          failed.","description": "Missing authentication or unable to authenticate
          the user or the account.","faultCode": "Client","helpLink": "http://developer.avalara.com/avatax/errors/AuthenticationException"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 401
        message: Unauthorized
[...]
